.cont-support-ref {
    width: 70%;
    height: auto;
}
.img-apropos{
    filter : brightness(70%);
    border-radius: 25px;
}
#container-img{
    display: flex;
    justify-content: center;
}
.container-drop{
    width: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    margin-top: 20px;
}
.cont-description-ref{
    width: 100% ;
    border-radius: 0px 0px 10px 10px;
    padding-top:20px;
    margin-top: 30px;
    background-color: #F7F7F7;

}
.container-title-h2-ref{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -32px;
    background-color: #FF6060;
    border-radius:10px ;
    height:50px;
}
.title-h2-ref{ 
    width: 1000px;
    padding-top: 0px;
    padding-left: 20px;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.title-last{
    background-color: aqua;
}
.text-contenu-ref{
    color:#FF6060;
    list-style: none;
    line-height: 1.5;
    margin: 0px 0px 0px 20px ; 
    padding: 20px;
}
.drop-botton-ref{
    background: none;
	outline: none;
	border: none;
	font-weight: 600;
	cursor: pointer;
	align-self: self-start;
	color: white;
    align-self: center;
}
@media screen and (max-width: 480px){
    .cont-support-ref {
        width: 100%;
    }
    #container{
        margin: auto;
        width: 90%;
        margin-top: 30px;
    }     
    .img-apropos{
        filter : brightness(70%);
        border-radius: 10px;
        width: 90%;
        object-fit: cover;
    }        
    #container-img{
        display:flex;
        justify-content: center;
        width: 100%;
        height: 200px;
    }

    .cont-description-ref, .cont-description, .cont-service, .cont-responsabilte{
        width: 100%;
    }
    .container-title-h2-ref {
        width: 100%;
    }
    .container-drop{
        margin-bottom: unset;
    }
    .img-chevron{
        padding-right: 10px;
    }
}
